@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-cinema-black: #0a0a0a;
}

.outline-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}
  {
  -webkit-tap-highlight-color: transparent;
}
